* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #FEC524;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../images/softwarback.jpg);
}
/* Start of header */

header {
  padding: 20px 35px;
  background-image: url(../images/softwarback.jpg);
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: #FEC524;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: #FEC524;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* end of  header */

/*about me section */



.personal img {
  height: 430px;
  width: 430px;
  border: solid;
  border-width: 5px;
  border-radius: 215px;
  float: left;
  margin-right: 24px;
}

.personal {
  display: flex;
  margin: 65px;
}


.aboutinfo {
  margin-left: 2em;
  padding: 30px;
}

/* end  of  about me setion */

/* start section section */

.section-title {
  text-align: center;
  border-bottom: solid;
  padding-bottom: 10px;
  margin: 0px auto 35px auto;
  width: 50%;
}


.firstp {
  display: flex;
  justify-content: center;
  margin: 29px;
}

.secondp {
  display: flex;
  justify-content: center;
}

.projects img {
  width: 150px;
  height: 100px;
  
}