* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../images/softwareback2.jpg);
}
/* Start of header */

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  top: 0;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
}
header h1 a  {
  color: white;
  text-decoration: none;
}

header a {
  text-decoration: none;
}

header a:hover {
  background: #fce524;
  color: #8b2131;
  text-shadow: none;
  border-radius: 15px;
  font-weight: lighter;
  }

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-size: 18px;
  color: white;
}

header nav ul li a:hover {
  background: #fce524;
  color: #8b2131;
  border-radius: 15px;
  text-shadow: none;
}
  
  


/* end of  header */

/*about me section */



.personal img {
  height: 430px;
  width: 430px;
  border: solid;
  border-width: 5px;
  border-radius: 215px;
  float: left;
  margin-right: 24px;
  border-color: #fec524;
}

.personal {
  display: flex;
  margin: 65px;
}


.aboutinfo {
  margin-left: 2em;
  padding: 30px;
  font-weight: bold;
}

/* end  of  about me setion */

/* start section section */

.section-title {
  text-align: center;
  border-bottom: solid;
  padding-bottom: 10px;
  margin: 0px auto 35px auto;
  width: 50%;
  font-size: 40px;
}


.firstp {
  display: flex;
  justify-content: center;
  margin: 29px;
  opacity: 0.5;
}

.firstp:hover {
  display: flex;
  justify-content: center;
  margin: 29px;
  opacity: 1.0;
}

.secondp {
  display: flex;
  justify-content: center;
  opacity: 0.5;
}

.secondp:hover {
  display: flex;
  justify-content: center;
  opacity: 1.0;
}

.projects img {
  width: 150px;
  height: 100px;
  margin: 14px;
}

.reachme ul li a {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
}

.reachme ul li a:hover{
  text-decoration: none;
  border-radius: 15px;
  color: #fce524;
  background: #8b2131;
}

.reachme a {
  font-size: 30px;
  color: white;
}

